# Python
__pycache__/
*.pyc
venv/
env/
*.log

# Node
node_modules/
package-lock.json

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Project specific
backend/venv/
frontend/node_modules/